{% extends 'base_back.html.twig' %}

{% block title %}LineTrain index{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-5">
        <h1>Les voyages</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_line_train_new') }}">Créer un voyage</a>
        </div>
</div>



<table id="table_lineTrain" class="display">
    <thead>
        <tr>
            <th>Train</th>
            <th>Ligne</th>
            <th>Date de départ</th>
            <th>Date d'arrivée</th>
            <th>€ classe 1</th>
            <th>€ classe 2</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for line_train in line_trains %}
        <tr>
           
            <td>{{ line_train.getTrain().getName() ?? "" }}</td>
            <td>{{ line_train.getLine().getNameStationDeparture()}} - {{ line_train.getLine().getNameStationArrival() }}</td>
            <td>{{ line_train.getDateDeparture()| date('d/m/Y')}} {{line_train.getTimeDeparture|date('H:i:s') }} </td>
            <td>{{ line_train.getDateArrival()|date('d/m/Y')}} {{line_train.getTimeArrival()|date('H:i:s') }} </td>
            <td>{{ line_train.getPriceClass1() }} €</td>
            <td>{{ line_train.getPriceClass2() }} €</td> 

            <td>
                <a class="btn btn-primary" href="{{ path('admin_line_train_show', {'id': line_train.id}) }}">Voir</a>
                <a class="btn btn-primary" href="{{ path('admin_line_train_edit', {'id': line_train.id}) }}">Modifier</a>
                <a class="btn btn-primary" href="{{ path('admin_line_train_plan', {'id': line_train.id}) }}"><i class=" fa-solid fa-train"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Aucun voyage</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>

$(document).ready( function () {
    $('#table_lineTrain').DataTable();
} );
</script>
{% endblock %}