{% extends 'base_back.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block body %}

<div class="p-3">
<div class="d-flex justify-content-between mb-5">
        <h1>Les voyages</h1>
        {% if is_granted('ROLE_COMPANY') %}
        <div>
            <a class="btn btn-primary-express" href="{{ path('admin_line_train_new') }}">Créer un voyage</a>
        </div>
        {%endif%}
</div>


<div class="card shadow-sm" style="width: 15rem; border-left:3px solid #5d8bff">
        <div class="card-body">
            <h2 class="card-title">{{ line_trains|length }}</h2>
                    voyage(s)
        </div>
</div>

<div class="card p-4 mt-5">

<table id="table_lineTrain" class="row-border hover">
    <thead>
        <tr>
            <th>Train</th>
            <th>Ligne</th>
            <th>Date de départ</th>
            <th>Date d'arrivée</th>
            <th>€ classe 1</th>
            <th>€ classe 2</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for line_train in line_trains %}
        <tr>
           
            <td>{{ line_train.getTrain().getName() ?? "" }}</td>
            <td>{{ line_train.getLine().getNameStationDeparture()}} <br> {{ line_train.getLine().getNameStationArrival() }}</td>
            <td>{{ line_train.getDateDeparture()| date('d/m/Y')}} <br> {{line_train.getTimeDeparture|date('H:i:s') }} </td>
            <td>{{ line_train.getDateArrival()|date('d/m/Y')}} <br> {{line_train.getTimeArrival()|date('H:i:s') }} </td>
            <td>{{ line_train.getPriceClass1() }} €</td>
            <td>{{ line_train.getPriceClass2() }} €</td> 

            <td>
                <a class="btn btn-primary-express" href="{{ path('admin_line_train_show', {'id': line_train.id}) }}">Voir</a>
                {% if is_granted('ROLE_COMPANY') %}
                <a class="btn btn-primary-express" href="{{ path('admin_line_train_edit', {'id': line_train.id}) }}">Modifier</a>
                {%endif%}
                <a class="btn btn-primary-express" href="{{ path('admin_line_train_plan', {'id': line_train.id}) }}"><i class=" fa-solid fa-train"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Aucun voyage</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<script>

$(document).ready( function () {
    $('#table_lineTrain').DataTable();
} );
</script>
{% endblock %}