{% extends 'base_back.html.twig' %}

{% block title %}LineTrain{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ line_train.id }}</td>
            </tr>
            <tr>
                <th>Date départ</th>
                <td>{{ line_train.getDateDeparture()|date('d-m-Y')}} - {{line_train.getTimeDeparture()|date('H:i:s') }} </td>
            </tr>
            <tr>
                <th>Date d'arrivée</th>
                <td>{{ line_train.getDateArrival()|date('d-m-Y')}} - {{line_train.getTimeArrival()|date('H:i:s') }} </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_line_train_index') }}">Retour</a>

    <a href="{{ path('admin_line_train_edit', {'id': line_train.id}) }}">Modifier</a>

    {{ include('Back/line_train/_delete_form.html.twig') }}
{% endblock %}
