{% extends 'base.html.twig' %}

{% block title %}Ligne index{% endblock %}

{% block body %}
    <h1>Ligne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LongitudeGareD</th>
                <th>LatitudeGareD</th>
                <th>LongitudeGareA</th>
                <th>LatitudeGareA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne in lignes %}
            <tr>
                <td>{{ ligne.id }}</td>
                <td>{{ ligne.longitudeGareD }}</td>
                <td>{{ ligne.LatitudeGareD }}</td>
                <td>{{ ligne.LongitudeGareA }}</td>
                <td>{{ ligne.LatitudeGareA }}</td>
                <td>
                    <a href="{{ path('ligne_show', {'id': ligne.id}) }}">show</a>
                    <a href="{{ path('ligne_edit', {'id': ligne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ligne_new') }}">Create new</a>
{% endblock %}
