{% extends 'base_back.html.twig' %}

{% block title %}Lignes{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-5">
        <h1>Les lignes</h1>
        <div>
            <a href="{{ path('admin_line_new') }}" class="btn-primary-express list-group-item list-group-item-action py-2 ripple">
                    <span>Créer une nouvelle ligne</span>
            </a>
        </div>
    </div>

    <table id="table_line" class="row-border hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gare de départ</th>
                <th>Gare d'arrivée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line in lines %}
            <tr>
                <td>{{ line.id }}</td>
                <td>{{ line.nameStationDeparture }}</td>
                <td>{{ line.nameStationArrival }}</td>
                <td>
                    <a class="btn btn-primary-express" href="{{ path('admin_line_show', {'id': line.id}) }}">Voir</a>
                    <a class="btn btn-primary-express" href="{{ path('admin_line_edit', {'id': line.id}) }}">Modifier</a>
                    {% if line.status == 0 %}
                    <a class="btn btn-primary-express" href="{{ path('admin_line_enable', {'id': line.id}) }}">Activer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <script>

        $(document).ready( function () {
            $('#table_line').DataTable();
        } );
    </script>
{% endblock %}
