{% extends 'base_back.html.twig' %}

{% block title %}Ligne{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Ligne : {{ line.nameStationDeparture }} - {{ line.nameStationArrival }}</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_line_index') }}">Retour</a>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ line.id }}</td>
            </tr>
            <tr>
                <th>Gare de départ | Longitude</th>
                <td>{{ line.longitudeDeparture }}</td>
            </tr>
            <tr>
                <th>Gare de départ | Latitude</th>
                <td>{{ line.latitudeDeparture }}</td>
            </tr>
            <tr>
                <th>Gare d'arrivée | Longitude</th>
                <td>{{ line.longitudeArrival }}</td>
            </tr>
            <tr>
                <th>Gare d'arrivée | Latitude</th>
                <td>{{ line.latitudeArrival }}</td>
            </tr>
            <tr>
                <th>Gare de départ</th>
                <td>{{ line.nameStationDeparture }}</td>
            </tr>
            <tr>
                <th>Gare d'arrivée</th>
                <td>{{ line.nameStationArrival }}</td>
            </tr>
        </tbody>
    </table>

   
    <div class="d-flex">
        <a class="btn btn-warning mx-2"href="{{ path('admin_line_edit', {'id': line.id}) }}">Modifier</a>
        <a class="btn btn-danger mx-2"href="{{ path('admin_line_disable', {'id': line.id}) }}">Désactiver cette ligne</a>
    </div>


{% endblock %}
