{% extends 'base.html.twig' %}

{% block title %}Liste des Lieux !{% endblock %}

{% block body %}
    <div class="col-12 center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Voir</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {%  for place in places %}
                    <tr>
                        <td scope="row"> {{ place.id }}</td>
                        <td> {{ place.name }} </td>
                        <td> {{ place.city }}</td>
                        <td><button><a href="{{ path('admin_place_show', { 'id': place.id })  }}">voir</a> </button></td>
                        <td><button><a href="{{ path('admin_place_edit', { 'id': place.id })  }}">Editer</a> </button></td>
                        <td><button><a href="{{ path('admin_place_remove', { 'id': place.id, 'token': csrf_token('place_remove')})  }}">Remove</a> </button></td>
                    </tr>
                {%  endfor %}
            </tbody>


        </table>
    </div>

{% endblock %}
