{% extends 'base_back.html.twig' %}

{% block title %}Train index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-5">
        <h1>Liste des trains</h1>
        <div>
        <a class="btn btn-outline-primary" href="{{ path('admin_train_new') }}">Nouveau train</a>

        </div>
    </div>

    <table class="display" id="table_train">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for train in trains %}
            <tr>
              
                <td>{{ train.name }}</td>
                <td>{{ train.description ?? "Aucune description" }}</td>
                <td>

                    <div class="row">
                        <div class="d-flex flex-row bd-highlight">
                              
                            <a class="btn btn-primary" href="{{ path('admin_train_show', {'id': train.id}) }}">Voir</a>
                        

                            <form method="post" action="{{ path('admin_train_edit', {'id': train.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ train.id) }}">
                                <button class="mx-2 btn btn-primary">Editer</button>
                            </form>
                                  
                            
                          
                               
                        </div>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>

                <td colspan="4">Aucun train existant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


   
{% endblock %}


{% block javascripts %}
<script>

$(document).ready( function () {
    $('#table_train').DataTable();
});
</script>
{% endblock%}
