{% extends 'base_home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .mycluster {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #3498db;
        color: white;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        margin-top: -20px;
        margin-left: -20px;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>

    <div id="map" style="height: 500px; width: 1000px"></div>


    <script>
        const linkAsset = "{{ asset('img/') }}"
    </script>
    <script src="{{ asset('js/home.js') }}"></script>

{% endblock %}
