{% extends 'base_home.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}

    <img src="{{ asset("img/banner."~banner) }}" alt="banner" id="banner">

    <div class="container pt-4">
        <div id="container-input" class="mb-5">
            <div class="row d-flex">
                <div class="row shadow p-3 mb-5 bg-body rounded px-3">
                    <div class="col-md-12 col-lg-6 mt-2">

                        <div class="d-flex flex-column pe-3">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <div class="mb-3">
                                        <label for="departureStationSearch">Gare de départ : </label>
                                        <input class="form-control mt-3" type="text" id="departureStationSearch"
                                               placeholder="Paris-Montparnasse">
                                        <ul class="list-group list-stations" id="listStationsDeparture"></ul>
                                    </div>

                                    <div class="d-flex flex-row align-items-center">
                                        <div id="departureStation"></div>
                                        <i class="fa-solid fa-pencil mb-3 ms-3" id="updateDepartureStation"></i>
                                    </div>
                                </div>

                                <div class="col col-lg-6">
                                    <div class="mb-3">
                                        <label for="arrivalStationSearch">Gare d'arrivée : </label>
                                        <input class="form-control mt-3" type="text" id="arrivalStationSearch"
                                               placeholder="Poitiers">
                                        <ul class="list-group list-stations" id="listStationsArrival"></ul>
                                    </div>

                                    <div class="d-flex flex-row align-items-center">
                                        <div id="arrivalStation"></div>
                                        <i class="fa-solid fa-pencil mb-3 ms-3" id="updateArrivalStation"></i>
                                    </div>
                                </div>
                            </div>

                            {{ include('Front/home/_form.html.twig') }}
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="accordion my-2" id="accordionMap">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        Sélectionnez une gare sur la carte
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne"
                                     data-bs-parent="#accordionMap">
                                    <div class="accordion-body">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="start-result">
            {% if noTravels %}
                <div class="alert alert-info" role="alert">
                    <p>Aucun résultat pour la recherche</p>
                </div>
            {% else %}
                {% if travels %}
                    <div class="alert alert-primary" role="alert">
                        <p>{{ travels|length }} résultat(s)</p>
                    </div>
                {% endif %}
                {% for travel in travels %}


                    <div class="row mb-5" id="resultSearch">
                        <div class="col-sm-8">
                            <div>
                                <div class=" d-flex border shadow-sm rounded px-3 me-4 bg-white pt-3">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-row">
                                            <p class="fw-bold">{{ travel.getTimeDeparture()|date('H') }}</p>
                                            <p class="fw-bold">h</p>
                                            <p class="fw-bold">{{ travel.getTimeDeparture()|date('i') }}</p>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <p class="fw-bold">{{ travel.getTimeArrival()|date('H') }}</p>
                                            <p class="fw-bold">h</p>
                                            <p class="fw-bold">{{ travel.getTimeArrival()|date('i') }}</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column mx-4">
                                        <p>{{ travel.getLine().getNameStationDeparture() }}</p>
                                        <p>{{ travel.getLine().getNameStationArrival() }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-2">
                            {% if travel.getPlaceNbClass1 == 0 %}
                                <div class="border shadow-sm rounded px-3 bg-white button-price">
                                    <p class="text-center pt-3">Classe 1</p>
                                    <p class="text-center">Aucune place</p>
                                </div>
                            {% else %}
                                <div onclick="selectOption(
                                {{ travel.id }},
                                        1,
                                {{ travel.getPriceClass1 }},
                                {{ travel.getTimeDeparture()|date('H') }} +'h'+{{ travel.getTimeDeparture()|date('i') }},
                                {{ travel.getTimeArrival()|date('H') }} +'h'+{{ travel.getTimeArrival()|date('i') }},
                                        '{{ travel.getLine().getNameStationDeparture() }}',
                                        '{{ travel.getLine().getNameStationArrival() }}'
                                        )" class="border shadow-sm rounded px-3 bg-white button-price"
                                     data-bs-toggle="modal" data-bs-target="#modalOptions">
                                    <p class="text-center pt-3">Classe 1</p>
                                    <p class="text-center">{{ travel.getPriceClass1 }} €</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-6 col-sm-2">
                            {% if travel.getPlaceNbClass2 == 0 %}
                                <div class="border shadow-sm rounded px-3 bg-white button-price">
                                    <p class="text-center pt-3">Classe 2</p>
                                    <p class="text-center">Aucune place</p>
                                </div>
                            {% else %}
                                <div onclick="selectOption(
                                {{ travel.id }},
                                        2,
                                {{ travel.getPriceClass2 }},
                                        '{{ travel.getDateDeparture()|date('d-m-Y') }}',
                                {{ travel.getTimeDeparture()|date('H') }} +'h'+{{ travel.getTimeDeparture()|date('i') }},
                                        '{{ travel.getLine().getNameStationDeparture() }}',
                                        '{{ travel.getLine().getNameStationArrival() }}'
                                        )" class="border shadow-sm rounded px-3 ms-3 bg-white button-price"
                                     data-bs-toggle="modal" data-bs-target="#modalOptions">
                                    <p class="text-center pt-3">Classe 2</p>
                                    <p class="text-center">{{ travel.getPriceClass2 }} €</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>



    {% if nextTravels %}
        <h4 class="text-center mb-3">Nos prochains départ !</h4>
        <div class="row mx-4">
            {% for nextTravel in nextTravels %}
                <div class="col col-lg-4 d-flex justify-content-center my-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('./img/travel.jpg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">En partance de
                                <b>{{ nextTravel.getLine().getNameStationDeparture() }}</b> direction
                                <b>{{ nextTravel.getLine().getNameStationArrival() }}</b></p>
                            <br>
                            <p>Le {{ nextTravel.getDateDeparture()|date('d-m-Y') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <!-- MODAL -->
    <div class="modal fade" id="modalOptions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Détails du voyage</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="bodyModal">
                </div>
                <div class="modal-footer" id="footerModal">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="buttonSaveModal">Ajouter au panier</button>
                    <p id="errorModal"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const linkAsset = "{{ asset('img/') }}"
    </script>

    <script src="{{ asset('js/home.js') }}"></script>

{% endblock %}
