{% extends 'base_home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                {% if travels %}
                    {% for key, travel in travels %}
                        <div class="mt-5 d-flex justify-content-between align-items-center border shadow-sm rounded px-3 me-4 bg-white pt-3">
                            <p class="fw-bold">{{ travel[0].getDateDeparture()|date('d-m-Y') }}</p>

                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row">
                                    <p class="fw-bold">{{ travel[0].getTimeDeparture()|date('H') }}</p>
                                    <p class="fw-bold">h</p>
                                    <p class="fw-bold">{{ travel[0].getTimeDeparture()|date('i') }}</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="fw-bold">{{ travel[0].getTimeArrival()|date('H') }}</p>
                                    <p class="fw-bold">h</p>
                                    <p class="fw-bold">{{ travel[0].getTimeArrival()|date('i') }}</p>
                                </div>
                            </div>

                            <div class="d-flex flex-column mx-4">
                                <p>{{ travel[0].getLine().getNameStationDeparture() }}</p>
                                <p>{{ travel[0].getLine().getNameStationArrival() }}</p>
                            </div>

                            <div>
                                {% if travel[1] == 1 %}
                                    <td>{{ travel[0].getPriceClass1() }} €</td>
                                {% else %}
                                    <td>{{ travel[0].getPriceClass2() }} €</td>
                                {% endif %}
                            </div>

                            <div>
                                {{ include('Front/home/_delete_form.html.twig') }}
                            </div>
                        </div>


                    {% endfor %}

                    <p>Total: {{ total }} €</p>

                    <section>
                        {% if app.user %}
                        <form action="{{ path('payment') }}" method="POST">
                            <button class="btn btn-primary" type="submit" id="checkout-button">Payer</button>
                            {% else %}
                            <form action="/login" method="POST">
                                <button class="btn btn-primary" type="submit">Payer</button>
                                {% endif %}


                            </form>
                    </section>
                {% else %}
                    <div class="d-flex flex-column align-items-center mt-5">
                        <h3>Votre panier est vide</h3>
                        <a href="/" class="mt-5"><button type="button" class="btn btn-primary">Rechercher un voyage</button></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
