{% extends 'base_home.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Gare de départ</th>
                    <th>Gare d'arrivée</th>
                    <th>Jour de départ</th>
                    <th>Heure de départ</th>
                    <th>Classe</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for key, travel in travels %}
                    <tr>
                        <td>{{ travel[0].getLine().getNameStationDeparture() }}</td>
                        <td>{{ travel[0].getLine().getNameStationArrival() }}</td>
                        <td>{{ travel[0].getDateDeparture()|date('d-m-Y') }}</td>
                        <td>{{ travel[0].getTimeDeparture()|date('H:i') }}</td>
                        <td>{{ travel[1] }}</td>
                        {% if travel[1] == 1 %}
                            <td>{{ travel[0].getPriceClass1() }} €</td>
                        {% else %}
                            <td>{{ travel[0].getPriceClass2() }} €</td>
                        {% endif %}
                        <td>
                            {{ include('Front/home/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Total: {{ total }} €</p>
        </div>
    </div>

{% endblock %}
