{% extends 'base_back.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Company Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                {% if user.roles[0] == 'ROLE_ADMIN' %}
                    <td>Admin</td>
                {% elseif user.roles[0] == 'ROLE_CONTROLLER' %}
                    <td>Contrôleur</td>
                {% elseif user.roles[0] == 'ROLE_CUSTOMER' %}
                    <td>Utilisateur</td>
                {% else %}
                    <td>Société</td>
                {% endif %}
                <td>{{ user.companyName ?? "-" }}</td>
                {% if ((user.status == 1 or user.status == 2) and user.roles[0] == 'ROLE_CUSTOMER') or (user.status == 2 and user.roles[0] == 'COMPANY')   %}
                    <td>Activé</td>
                {% else %}
                    <td>Désactivé</td>
                {% endif %}
                <td>
                    <a href="{{ user.companyName is empty ? path('admin_user_edit', {'id': user.id}) : path('admin_user_edit_company', {'id': user.id}) }}" class="btn btn-primary">Editer</a>
                    <a href="{{ path('admin_user_edit_status', {'id': user.id}) }}" class="btn btn-warning">Changer le statut</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Nouvel utilisateur</a>
    <a href="{{ path('admin_user_company_new') }}" class="btn btn-primary">Nouvelle société</a>
    <a href="{{ path('admin_user_controller_new') }}" class="btn btn-primary">Nouveau controlleur</a>
{% endblock %}
