{% extends 'base_back.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Company Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.companyName ?? "Standard User" }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ user.companyName is empty ? path('admin_user_edit', {'id': user.id}) : path('admin_user_edit_company', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}">Create new User</a>
    <a href="{{ path('admin_user_company_new') }}">Create new Company</a>
{% endblock %}
