{% extends 'base_back.html.twig' %}

{% block title %}PA EXPRESS{% endblock %}

{% block body %}

<div class="p-3">
    <h1 class="mb-3">Utilisateurs</h1>
    <a href="{{ path('admin_user_new') }}" class="btn btn-primary-express">Nouvel utilisateur</a>
    <a href="{{ path('admin_user_company_new') }}" class="btn btn-primary-express">Nouvelle société</a>
    <a href="{{ path('admin_user_controller_new') }}" class="btn btn-primary-express">Nouveau contrôleur</a>
    <div class="card p-4 mt-5 mb-3">
    <table class="hover row-border" id="table_user">
        <thead>
            <tr>
                <th>Email</th>
                <th>Rôles</th>
                <th>Nom de la société</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.roles[0] != 'ROLE_ADMIN' %}
            <tr>
                <td>{{ user.email }}</td>
                {% if user.roles[0] == 'ROLE_CONTROLLER' %}
                    <td>Contrôleur</td>
                {% elseif user.roles[0] == 'ROLE_CUSTOMER' %}
                    <td>Utilisateur</td>
                {% else %}
                    <td>Société</td>
                {% endif %}
                <td>{{ user.companyName ?? "-" }}</td>
                {% if ((user.status == 1 or user.status == 2) and (user.roles[0] == 'ROLE_CUSTOMER' or user.roles[0] == 'ROLE_CONTROLLER')) or (user.status == 2 and user.roles[0] == 'ROLE_COMPANY')   %}
                    <td>Activé</td>
                {% else %}
                    <td>Désactivé</td>
                {% endif %}
                <td>
                    <a class="btn btn-primary-express" href="{{ user.companyName is empty ? path('admin_user_edit', {'id': user.id}) : path('admin_user_edit_company', {'id': user.id}) }}" >Editer</a>
                    <a class="btn btn-primary-express" href="{{ path('admin_user_edit_status', {'id': user.id}) }}" >Changer le statut</a>

                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>

$(document).ready( function () {
    $('#table_user').DataTable();
});
</script>
{% endblock%}