{% extends 'base_back.html.twig' %}

{% block title %}Wagon{% endblock %}

{% block body %}
    <h1>Wagon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wagon.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ wagon.class }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ wagon.type }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ wagon.placeNb }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <form method="post" action="{{ path('admin_wagon_edit', {'id': wagon.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ wagon.id) }}">
            <button class="btn btn-primary-express">Modifier</button>
        </form>



        <div class="mx-2">
   
            <a class="btn btn-primary-express mx-2"href="{{ path('admin_wagon_disable', {'id': wagon.id}) }}">Désactiver ce wagon</a>
       
        </div>
    </div>


  
    
{% endblock %}
