{% extends 'base_back.html.twig' %}

{% block title %}Wagon{% endblock %}

{% block body %}
    <h1>Wagon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wagon.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ wagon.class }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ wagon.type }}</td>
            </tr>
            <tr>
                <th>PlaceNb</th>
                <td>{{ wagon.placeNb }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('wagon_edit', {'id': wagon.id}) }}"><button class="btn">Modifier</button></a>

    <hr>
    <h4>Option</h4>
    {% if wagon.option is not null %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ wagon.option.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ wagon.option.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ wagon.option.type }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ wagon.option.price }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ wagon.option.description }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if wagon.option is null %}
        <p>Aucune option liée au wagon</p>
    {% endif %}
    <br>
    <a href="{{ path('wagon_index') }}"><button class="btn">Retour</button></a>

{% endblock %}
