{% extends 'base_back.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<div class="p-3">
    <h1>Réservations</h1>
    <div class="card p-4 mt-5 mb-3">
    <table id="table_wagon" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.idUser.email }}</td>
                <td class="d-flex">
                    <a class="" href="{{ path('booking_facture', {'id': booking.id}) }}"><button type="button" class="btn btn-primary-express mx-2">Facture</button></a>
                    <button type="button" class="btn btn-primary-express mx-2" data-bs-toggle="modal" data-bs-target="#infoModal" onclick="getBooking({{ booking.id }})">Informations</button>
                    {% if booking.status == -1%}
                        <p>Annulé</p>
                    {% else %}
                        <button type="button" class="btn btn-primary-express mx-2" data-bs-toggle="modal" data-bs-target="#annulerModal">Annuler</button>

                        {{ include('Back/booking/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de wagon enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="containerModalInfo"></div>
                </div>
                <div class="modal-footer" id="infoModalFooter">
                    <button type="button" class="btn btn-primary-express" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        $(document).ready( function () {
            $('#table_wagon').DataTable();
        } );
    </script>

    <script src="{{ asset('js/booking.js') }}"></script>
{% endblock %}
