{% extends 'base.html.twig' %}

{% block title %}Ligne{% endblock %}

{% block body %}
    <h1>Ligne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne.id }}</td>
            </tr>
            <tr>
                <th>LongitudeGareD</th>
                <td>{{ ligne.longitudeGareD }}</td>
            </tr>
            <tr>
                <th>LatitudeGareD</th>
                <td>{{ ligne.LatitudeGareD }}</td>
            </tr>
            <tr>
                <th>LongitudeGareA</th>
                <td>{{ ligne.LongitudeGareA }}</td>
            </tr>
            <tr>
                <th>LatitudeGareA</th>
                <td>{{ ligne.LatitudeGareA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_ligne_index') }}">back to list</a>

    <a href="{{ path('admin_ligne_edit', {'id': ligne.id}) }}">edit</a>

    {{ include('Back/ligne/_delete_form.html.twig') }}
{% endblock %}
