{% extends 'base_back.html.twig' %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}
    <style>
        #banner {
            width: 500px;
            height: 300px;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block body %}

<div class="mx-2">
    <h1>Settings</h1>

    <img src="{{ asset('img/banner.jpg') }}" alt="banner" id="banner">

    {{ form_start(form) }}
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}

        <button type="submit" class="btn btn-lg btn-primary mt-3">Upload</button>
    {{ form_end(form) }}

</div>

{% endblock %}
