{% extends 'base_home.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    <style>
        .logo {
            width: 200px;
        }

        .containerProfile {
            width: 85%;
        }

        .errorMessage {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center mt-2 mb-5">
            <div class="card card-login containerProfile">
               <div class="text-center">
                    <img src="{{ asset('img/logo.png') }}" class="card-img-top logo" alt="logo">
                    <h3 class="px-4">Mon compte</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-4">{{ include('Front/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</div>
                        <div class="col-12 col-sm-6 mb-4">
                            {{ form_start(formPwd) }}
                                {{ form_label(formPwd.plainPassword.first) }}
                                {{ form_widget(formPwd.plainPassword.first) }}
                                {{ form_label(formPwd.plainPassword.second) }}
                                {{ form_widget(formPwd.plainPassword.second) }}
                                <div class="errorMessage">{{ form_errors(formPwd.plainPassword.first) }}</div>
                                <div class="errorMessage">{{ form_errors(formPwd.plainPassword.second) }}</div>

                                <div class="errorMessage">{{ form_errors(formPwd) }}</div>

                            <button type="submit" class="btn btn-primary mt-2">Mettre à jour</button>
                            {{ form_end(formPwd) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
